  {% extends 'base.html' %}
  {% block title %} {{ group }} {% endblock %}
  {% block header %}{{ group }}{% endblock %}
  {% block content %}
  <h1>{{ group }}</h1>
  <p>{{ group.description }}</p>
  {% for post in page_obj %}

  <ul>
      <li>Автор: {{ post.author.get_full_name }}</li>
      <li>Дата публикации: {{ post.pub_date|date:"d E Y"}}</li>
  </ul>
  <p>{{ post.text }}</p>
  <a href="{% url 'posts:post_detail' post.id %}">подробная информация </a>
  {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% endblock %}




